.head {
    padding: 1.25vw;
    margin-bottom: 10vw;
    color: black;
    background: linear-gradient(90deg, #f291ff, #fc6b6b, #1FA2FF, #91fff0  );

    background-size: 700vw 700vw;
    -moz-animation:color 5s ease-in-out infinite;
    -webkit-animation: color 5s ease-in-out infinite;
    animation: color 10s ease-out infinite;
  }

  .topnav{
    background: linear-gradient(90deg, #f291ff, #fc6b6b, #1FA2FF, #91fff0  );
       background-size: 700vw 700vw;
    -moz-animation:color 5s ease-in-out infinite;
    -webkit-animation: color 5s ease-in-out infinite;
    animation: color 10s ease-out infinite;
  }
  a, li, ul, nav{
    background: transparent;
  }
  
  @-webkit-keyframes color {
    0%{background-position:1% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
  }
  @-moz-keyframes color {
    0%{background-position:10% 0% 0 0}
    50%{background-position:91% 100% 0 0}
    100%{background-position:10% 0% 100% 100%}
  }
  @keyframes color { 
    0%{background-position:1% 0%}
    50%{background-position:91% 100%}
    100%{background-position:0% 1%}
  }