

.pslogo {
max-width: 30vw;
filter: drop-shadow(0rem 0rem 0.6rem rgba(0, 0, 0, 1));
}
.mainlogodiv {
  padding:10vw;
  margin:10vw;+
  
}
.mainImg {
  object-fit: cover;
  height: 60vw;
  width: 100vw;
}
.menuimg {
  width: 20vw;
  filter: drop-shadow(0rem 0rem 0.1rem rgba(255, 255, 255, 1));
}
.imgG {
  color: white;
  box-shadow: inset 0 0 0.625vw #00439c;
  border-color: transparent;
  border-style: solid;
  align-items: center;
  background-color: white;
  max-width: 90vw;
  height: auto;
  align-items: center;
  padding: 1.25vw;
}
iframe {
  box-shadow: inset 0 0 0.625vw #00439c;
  border-color: white;
  border-style: solid;
  align-items: center;
  padding: 1vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  max-width: 100vw;
  width: 20vw;
  height: 12vw;
}
.img {
  color: white;
  box-shadow: 0 0 1.25vw #00439c;
  border-color: white;
  border-style: solid;
  align-items: center;
  padding: 1.25vw;
  box-align: inherit;
}
