

.pslogo {
max-width: 10vw;

}
.mainlogodiv {
  padding:10vw;
  margin:10vw;
}
.frame {
  padding: 0.25vw;
  box-shadow:  inset 0 0 0.625vw black ;
  margin-top: 2vw;
  margin-bottom: 5vw;
  object-fit: cover;
}
.mainImg {
  padding: 1vw;
  object-fit: cover;
  height: 40vw;
  width: 98vw;
  box-shadow:  inset 0 0 0.625vw black ;
}
.menuimg {
  width: 20vw;
}
.imgG {
  color: white;
  box-shadow: inset 0 0 0.625vw #00439c;
  border-color: transparent;
  border-style: solid;
  align-items: center;
  background-color: white;
  max-width: 60vw;
  height: auto;
  align-items: center;
  padding: 1.25vw;
}
iframe {
  box-shadow: inset 0 0 0.625vw #00439c;
  border-color: white;
  border-style: solid;
  align-items: center;
  padding: 1vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  max-width: 100vw;
  width: 20vw;
  height: 12vw;
}
.img {
  color: white;
  box-shadow: 0 0 1.25vw #00439c;
  border-color: white;
  border-style: solid;
  align-items: center;
  padding: 1.25vw;
  box-align: inherit;
}
