*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
 text-rendering: optimizeLegibility;
 font-family: Arial,sans-serif;
 text-align: center;
 display: flex;
 flex-direction: column;
}

h1 {
  padding:1vw;
  margin:3vw;
  color: white;
  text-shadow: 0 0 0.7rem navy;
  font-size: 5vw;
}

ul {
  align-items: center;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 3vw;
  font-weight: bold;
}

p {
  margin: 10vw 8vw;
  text-align: justify;
  padding: 0.5vw 0.5vw;
  font-family: 'Playstation SST',Arial,Helvetica,sans-serif;
  font-size: 3.5vw;
  line-height: 1.8;
  letter-spacing: 0.0125vw;
}

iframe {
  width: 90vw;
  height: 50vw;
  }

.link {
 text-decoration: underline; 
 color: white;
}
.h3 {
  color: white;
  border-color: transparent;
  box-shadow: inset 0 0 0.9375vw navy;
  padding: 2vw 1vw;
  margin: 0;
  margin-top: 5vw;
  background: linear-gradient(to right,#00439c, #1FA2FF,  #00439c );
  font-size: 4vw;
}
h3 {
  max-width: 25vw;
  height: auto;
  margin: 0 auto;
  padding: 0.625vw;
  position: relative;
  color: black;
  background: white;
  box-shadow: 0 0 1.5vw navy;
}
.topnav {
  z-index: 1;
  overflow: hidden;
  position: fixed; 
  top: 0;
  left: 0; 
  width: 100vw;

  box-shadow: 0 0 0.9375rem #002e69;
}

.topnav a {
  display: flex;
  flex: 1;
  justify-content: center;
  color: white;
  text-shadow: 0 0 0.1vw black;
  text-align: center;
  padding: 5vw ;
  font-size: 5vw;
  text-decoration: none;
  
}

.topnav a.active {

  color: rgb(1, 80, 250);
}
footer {
  color: white;
  padding: 6.25vw;
  background-color: #00439c;
  box-shadow: inset 0 0 0.9375vw rgb(0, 0, 71);
text-align: center;
}
.footer {
  
 transform: translateX(5vw);
}
#footer {
  transform: translateX(-5vw);
}

footer li a{
  font-size: 5vw;
  line-height: double;
}
footer{

  line-height: double;
}

.left, .right {
  float: left;
  width: 20vw;
}