html {
 text-rendering: optimizeLegibility;
 font-family: Arial,sans-serif;
 font-size: 1vw;
 margin: 0 !important;
 padding: 0;
 width: 100%;
}
main {
  color: black;
  font-family: Arial,sans-serif ;
  text-align: center;
  width: 100vw;
}
h1 {
  padding:1vw;
  margin:3vw;
  color: white;
  text-shadow: 0 0 0.7rem navy;

}
.head {
  padding: 1.25vw;
  margin: 1vw;
  color: black;
  background: linear-gradient(90deg, #f291ff, #fc6b6b, #1FA2FF, #91fff0  );
  box-shadow: inset 0 0 1vw black;
  background-size: 700vw 700vw;
  -moz-animation:color 5s ease-in-out infinite;
  -webkit-animation: color 5s ease-in-out infinite;
  animation: color 10s ease-out infinite;
}
@-webkit-keyframes color {
  0%{background-position:1% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes color {
  0%{background-position:10% 0% 0 0}
  50%{background-position:91% 100% 0 0}
  100%{background-position:10% 0% 100% 100%}
}
@keyframes color { 
  0%{background-position:1% 0%}
  50%{background-position:91% 100%}
  100%{background-position:0% 1%}
}
ul {
  align-items: center;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1vw;
  font-weight: bold;
}

p {
  margin: 3vw 10vw;
  text-align: justify;
  padding: 1vw 1vw;
  font-family: 'Playstation SST',Arial,Helvetica,sans-serif;
  font-size: 0.9375vw;
  line-height: 1.8;
  letter-spacing: 0.0125vw;
}

.link {
 text-decoration: underline; 
 color: white;
}
.h3 {
  color: white;
  border-color: transparent;
  box-shadow: inset 0 0 0.9375vw navy;
  padding: 2vw 1vw;
  margin: 0;
  margin-top: 5vw;
  background: linear-gradient(to right,#00439c, #1FA2FF,  #00439c );
}
h3 {
  max-width: 25vw;
  height: auto;
  margin: 0 auto;
  padding: 0.625vw;
  position: relative;
  color: black;
  background: white;
  box-shadow: 0 0 1.5vw navy;
}
.topnav {
  z-index: 1;
  overflow: hidden;
  position: fixed; 
  top: 0;
  left: 0; 
  width: 100vw;
  background: white;
  box-shadow: 0 0 0.9375rem #002e69;
}

.topnav a {
  display: flex;
  flex: 1;
  float: left;
  color: black;
  text-align: center;
  padding: 1.25vw ;
  font-size: 1.2vw;
  text-decoration: none;
  background-color: white;
}

.topnav a.active {

  color: rgb(1, 80, 250);
}
footer {
  color: white;
  padding: 6.25vw;
  background-color: #00439c;
  box-shadow: inset 0 0 0.9375vw rgb(0, 0, 71);
text-align: center;
}
.footer {
 transform: translateX(5vw);
}
#footer {
  transform: translateX(-5vw);
}
.left, .right {
  float: left;
  width: 20vw;
}

.main {
  float: left;
  width: 60vw; 
}