@media only screen and (min-width: 768px) {
  footer li a{
    font-size: 1vw;
  }

.pslogo {
  max-width: 30vw;
  
  }
  .mainlogodiv {
    padding:10vw;
    margin:10vw;
  }
  .mainImg {
    object-fit: cover;
    height: 40vw;
    width: 100vw;
  }
  .menuimg {
    width: 20vw;
  }
  .imgG {
    color: white;
    box-shadow: inset 0 0 0.625vw #00439c;
    border-color: transparent;
    border-style: solid;
    align-items: center;
    background-color: white;
    max-width: 60vw;
    height: auto;
    align-items: center;
    padding: 1.25vw;
  }
  iframe {
    box-shadow: inset 0 0 0.625vw #00439c;
    border-color: white;
    border-style: solid;
    align-items: center;
    padding: 1vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    max-width: 100vw;
    width: 20vw;
    height: 12vw;
  }
  .img {
    color: white;
    box-shadow: 0 0 1.25vw #00439c;
    border-color: white;
    border-style: solid;
    align-items: center;
    padding: 1.25vw;
    box-align: inherit;
  }
  
  
  .mainlogodiv {
    padding:5vw;
    margin:5vw;
  }

  .pslogo {
    max-width: 10vw;
    
    }
.imgG{
  width: 50vw;
}
  .topnav li a {
    float: left;
    text-align: center;
    padding: 1vw ;
    font-size: 1vw;
    padding-top: 1.3vw;
  }
.topnav{
  padding: 0vw;
}
  .menuimg {
    float: right;
    width: 10vw;
    max-width: 30vw;
    padding: 0.05vw;
  }

  .control-me{
    display: block;
  }

  label {
  display: none;
  }

  iframe {
  width: 50vw;
  height: 30vw;
  }

p{
  font-size: 0.9vw !important;
  line-height: double !important;
  padding: 0 20vw 0 20vw !important;
  margin: 5vw !important;
  }
  h3{
    font-size: 2vw !important;
  }
  h1{
    font-size: 3vw !important;
  }
  .footer{
    font-size: 1vw ;
  }
}


@media only screen and (max-width: 768px) {

 li{font-size: 3vw;}
 

  li a {
    width: 100vw;
    text-align: left;
    font-size: 10vw;
    }

  .li {
    overflow:hidden;
    width: 100vw;
  }

  input:checked ~ .control-me{
    display: none;

  }
  input:checked ~ rect{
  display: none;
  }

  .menuimg {
  float: left;
  width: 30vw;
  max-width: 30vw;
  margin: 1vw;
  padding: 1vw;
  }
  

.burgerMain {
  display: block;
}
.crossMain {
  display: none;
}

  .cross1 {
    animation-name: rotateRectLeft;
   animation-duration: 100ms;
   animation-timing-function: linear;
   animation-delay: 0s;            
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
    transform-origin: left;

  }
  .cross2 {
    animation-name: rotateRectRight;
    animation-duration: 100ms;
    animation-timing-function: linear;
    animation-delay: 0s;            
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: left bottom;

  }
  @keyframes rotateRectLeft {
    from { transform: rotateZ(0deg); }
    to   { transform: rotateZ(45deg); }
 }
 @keyframes rotateRectRight {
  from { transform: rotateZ(0deg); }
  to   { transform: rotateZ(-45deg); }
}
.crossreverse1 {
  animation-name: rotateRectLeft;
 animation-duration: 100ms;
 animation-timing-function: linear;
 animation-delay: 0s;            
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
 animation-direction: reverse;
  transform-origin: left;

}
.crossreverse2 {
  animation-name: rotateRectRight;
  animation-duration: 100ms;
  animation-timing-function: linear;
  animation-delay: 0s;            
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: left bottom;
  animation-direction: reverse;
}
#footerImg{
  display: none;
}
.footer {
  
  transform: translateX(0vw);
 }

}