@media only screen and (min-width: 770px) {
  .mainlogodiv {
    padding:5vw;
    margin:5vw;
  }

  .topnav a {
    float: left;
    text-align: center;
    padding: 1.25vw ;
    font-size: 1.2vw;
  }

  .menuimg {
    float: right;
    width: 10vw;
    max-width: 30vw;
    padding: 0.5vw;
  }

  .control-me{
    display: block;
  }

  label {
  display: none;
  }

  iframe {
  width: 60vw;
  height: 35vw;
  }

}


@media only screen and (max-width: 769px) {

 li{font-size: 3vw;}
 

  li a {
    width: 100vw;
    text-align: left;
    font-size: 10vw;
    }

  .li {
    overflow:hidden;
    width: 100vw;
  }

  input:checked ~ .control-me{
    display: none;

  }
  input:checked ~ rect{
  display: none;
  }

  .menuimg {
  float: left;
  width: 30vw;
  max-width: 30vw;
  margin: 1vw;
  padding: 1vw;
  }
  

.burgerMain {
  display: block;
}
.crossMain {
  display: none;
}

  .cross1 {
    animation-name: rotateRectLeft;
   animation-duration: 100ms;
   animation-timing-function: linear;
   animation-delay: 0s;            
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
    transform-origin: left;

  }
  .cross2 {
    animation-name: rotateRectRight;
    animation-duration: 100ms;
    animation-timing-function: linear;
    animation-delay: 0s;            
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: left bottom;

  }
  @keyframes rotateRectLeft {
    from { transform: rotateZ(0deg); }
    to   { transform: rotateZ(45deg); }
 }
 @keyframes rotateRectRight {
  from { transform: rotateZ(0deg); }
  to   { transform: rotateZ(-45deg); }
}
.crossreverse1 {
  animation-name: rotateRectLeft;
 animation-duration: 100ms;
 animation-timing-function: linear;
 animation-delay: 0s;            
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
 animation-direction: reverse;
  transform-origin: left;

}
.crossreverse2 {
  animation-name: rotateRectRight;
  animation-duration: 100ms;
  animation-timing-function: linear;
  animation-delay: 0s;            
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: left bottom;
  animation-direction: reverse;
}

}