@media only screen and (min-width: 770px) {
  .mainlogodiv {
    padding:5%;
    margin:5%;
  }

  .topnav a {
    float: left;
    text-align: center;
    padding: 1.25rem ;
    font-size: 1.2rem;
  }

  .menuimg {
    float: right;
    width: 10%;
    max-width: 30%;
  }

  .control-me{
    display: block;
  }

  label {
  display: none;
  }

  iframe {
  width: 90rem;
  height: 45rem;
  }

}


@media only screen and (max-width: 769px) {
  
  .head {
    margin: 0;
    padding: 0;
  }
  .mainImg {
    height: 20rem;
  }
  .pslogo {
    max-width: 6rem;
    }
    .frame {
      box-shadow: 0 0 0;
      padding: 0 0 0 0;
    }
  ul {
    padding-left: 0%;
    padding: 0%;
    margin: 0%;
    position: relative;
    overflow:visible;
    }

  p {
  padding: 0.5rem !important;
  margin: 0.5rem !important;
  font-size: 0.8rem !important;
  }

  body {
    margin: revert;
  }

  li a {
    width: 100%;
    text-align: left;
    }

  .li {
    overflow:hidden;
    width: 100%;
  }

  input:checked ~ .control-me{
    display: none;

  }
  input:checked ~ rect{
  display: none;
  }

  .menuimg {
  float: left;
  width: 30%;
  max-width: 30%;
  transform: translateY(20%);
  }
  
label {
  transform: translateX(-20%);
}
#footer {
  display: none;
}
.footer {
  transform: translateX(5%);
}
footer {
  padding: 1rem !important;
  margin-bottom: 0;
}
.burgerMain {
  display: block;
}
.crossMain {
  display: none;
}

  .cross1 {
    animation-name: rotateRectLeft;
   animation-duration: 100ms;
   animation-timing-function: linear;
   animation-delay: 0s;            
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
    transform-origin: left;

  }
  .cross2 {
    animation-name: rotateRectRight;
    animation-duration: 100ms;
    animation-timing-function: linear;
    animation-delay: 0s;            
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: left bottom;

  }
  @keyframes rotateRectLeft {
    from { transform: rotateZ(0deg); }
    to   { transform: rotateZ(45deg); }
 }
 @keyframes rotateRectRight {
  from { transform: rotateZ(0deg); }
  to   { transform: rotateZ(-45deg); }
}
.crossreverse1 {
  animation-name: rotateRectLeft;
 animation-duration: 100ms;
 animation-timing-function: linear;
 animation-delay: 0s;            
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
 animation-direction: reverse;
  transform-origin: left;

}
.crossreverse2 {
  animation-name: rotateRectRight;
  animation-duration: 100ms;
  animation-timing-function: linear;
  animation-delay: 0s;            
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: left bottom;
  animation-direction: reverse;
}

}